<div class="d-flex flex-wrap flex-column h-100">
  <div class="home-sidebar p-3 flex-grow-1">
    <div class="mt-3">
      <home-user-profile></home-user-profile>
    </div>
    <i class="d-flex mt-2 mb-2"></i>
    <sidebar-item>Dashboard</sidebar-item>
    <i class="v-line"></i>
    <sidebar-item>Despesas</sidebar-item>
    <i class="v-line"></i>
    <sidebar-item>About</sidebar-item>
    <i class="v-line"></i>
    <sidebar-item>License</sidebar-item>
  </div>
  <div class="home-sidebar-footer text-center">
    <small>
      v.0.0.1 - <a href="mailto:rbnpontes@gmail.com">rbnpontes</a>
    </small>
  </div>
</div>